*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "m-plus-1p";
  src: url("../fonts/m-plus-1p.woff2");
  src: url("../fonts/m-plus-1p.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "m-plus-1p-500";
  src: url("../fonts/m-plus-1p-500.woff2");
  src: url("../fonts/m-plus-1p-500.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway.woff");
  src: url("../fonts/raleway.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "raleway-500";
  src: url("../fonts/raleway-500.woff2");
  src: url("../fonts/raleway-500.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "m-plus-1p";
  background-color: #F8F8F6;
  color: #122947;
  font-size: 16px;
  line-height: 140%;
}

@media (min-width: 767px) {
  body {
    font-size: 18px;
    line-height: 145%;
  }
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

ul {
  list-style: none;
}

p, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 15px;
}

@media (min-width: 767px) {
  .container {
    padding: 0 45px;
  }
}

@media (min-width: 1199px) {
  .container {
    padding: 0 98px;
  }
}

.btn {
  font-family: "m-plus-1p-500";
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  border: 1px solid #B3BAC1;
  border-radius: 2px;
  padding: 10px 28px;
  color: #122947;
}

.btn:hover {
  opacity: 0.5;
}

@media (min-width: 767px) {
  .btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
  }
}

.section__title {
  font-family: "raleway-500";
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  color: #122947;
  margin-bottom: 20px;
}

@media (min-width: 767px) {
  .section__title {
    font-size: 32px;
    line-height: 130%;
  }
}

.section__text {
  font-family: "m-plus-1p";
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #122947;
  margin-bottom: 40px;
}

@media (min-width: 767px) {
  .section__text {
    font-size: 18px;
    line-height: 145%;
  }
}

.header {
  position: relative;
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 15px 0 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 767px) {
  .header {
    padding: 40px 40px 0 0px;
  }
}

@media (min-width: 1199px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 98px;
  }
}

.header__menu-btn {
  margin-left: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 22px;
  height: 22px;
  margin-right: 20px;
  background-color: transparent;
  border: none;
  outline: none;
}

.header__menu-btn:hover {
  opacity: 0.5;
}

@media (min-width: 767px) {
  .header__menu-btn {
    margin-left: 40px;
  }
}

@media (min-width: 1199px) {
  .header__menu-btn {
    display: none;
  }
}

.header__menu-btn--opened {
  background-image: url("../images/svg/close_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header__menu-btn--closed {
  background-image: url("../images/svg/menu_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header__wrap--opened {
  border-bottom: 1px solid #DBDCE0;
  background-color: #F8F8F6;
}

.header__wrap--closed {
  border-bottom: none;
  background-color: transparent;
}

.header__logo svg {
  width: 85px;
  height: 13px;
}

.header__logo svg:hover {
  opacity: 0.5;
}

@media (min-width: 767px) {
  .header__logo svg {
    width: 131px;
    height: 21px;
  }
}

.header__user-nav-link:hover {
  opacity: 0.5;
}

.header__user-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.header__user-nav-item {
  margin-right: 20px;
}

.header__user-nav-item:last-child {
  margin-right: 0px;
}

@media (min-width: 767px) {
  .header__user-nav-link--user svg {
    width: 16px;
    height: 21px;
  }
}

@media (min-width: 767px) {
  .header__user-nav-link--shop svg {
    width: 18px;
    height: 21px;
  }
}

.main-nav__link:hover {
  opacity: 0.5;
}

.main-nav {
  background-color: #F8F8F6;
  font-family: "raleway-500", "arial";
  font-style: normal;
  font-size: 28px;
  line-height: 130%;
}

@media (min-width: 1199px) {
  .main-nav {
    font-family: "m-plus-1p";
    font-size: 16px;
    line-height: 24px;
    background-color: transparent;
    margin-right: 50px;
  }
}

.main-nav__list {
  padding: 40px 15px 50px 15px;
}

@media (min-width: 1199px) {
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.main-nav__item {
  margin-bottom: 35px;
}

.main-nav__item:last-child {
  margin-bottom: 0px;
}

@media (min-width: 1199px) {
  .main-nav__item {
    margin-bottom: 0px;
    margin-right: 30px;
    padding: 0;
  }
  .main-nav__item:last-child {
    margin-bottom: 0px;
  }
}

.main-nav--opened {
  display: block;
  position: absolute;
  width: 100%;
  top: 101%;
  z-index: 10;
}

@media (min-width: 1199px) {
  .main-nav--opened {
    position: static;
  }
}

.main-nav--closed {
  display: none;
}

@media (min-width: 1199px) {
  .main-nav--closed {
    display: block;
  }
}

.social {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social__link:hover {
  opacity: 0.5;
}

.social__item {
  margin-right: 30px;
}

.social__item:last-child {
  margin-right: 0px;
}

.main-nav__social-list {
  padding-left: 15px;
  padding-bottom: 51px;
}

@media (min-width: 1199px) {
  .main-nav__social-list {
    display: none;
  }
}

.about {
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -120px;
  padding-top: 150px;
  padding-bottom: 50px;
}

@media (min-width: 767px) {
  .about {
    padding-top: 200px;
    padding-bottom: 65px;
  }
}

.about__content {
  width: 243px;
  margin: 0 auto;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 767px) {
  .about__content {
    position: absolute;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    width: 275px;
    padding-top: 20px;
  }
}

.about__title {
  font-family: "raleway-500";
  font-size: 42px;
  line-height: 49px;
  margin-bottom: 20px;
}

@media (min-width: 767px) {
  .about__title {
    font-size: 54px;
    line-height: 63px;
  }
}

.about__text {
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: 767px) {
  .about__text {
    font-size: 18px;
    line-height: 145%;
    margin-bottom: 40px;
  }
}

.about__promocard-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__promocard img {
  margin-bottom: 10px;
}

.about__promotext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__promotext p {
  font-family: "m-plus-1p-500";
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
}

@media (min-width: 767px) {
  .about__promotext p {
    font-size: 16px;
  }
}

.about__promocard:hover .about__promotext {
  opacity: 0.7;
}

.slider-pagination {
  display: none;
}

@media (min-width: 767px) {
  .slider-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border: none;
    outline: none;
  }
}

@media (min-width: 767px) {
  .slider-pagination button {
    background-color: transparent;
    border: none;
    outline: none;
  }
  .slider-pagination button:first-child {
    margin-right: 30px;
  }
}

.bestseller {
  padding: 60px 0 60px 0;
  background-color: #F8F8F6;
}

@media (min-width: 767px) {
  .bestseller {
    padding: 120px 0 120px 0;
  }
}

.bestseller-wrap {
  margin: 0 auto;
  overflow: hidden;
}

@media (min-width: 767px) {
  .bestseller-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.bestseller__content {
  margin: 0 auto;
  width: 190px;
  text-align: center;
}

@media (min-width: 767px) {
  .bestseller__content {
    margin: 0 40px 0 45px;
    text-align: left;
    width: 220px;
    padding-top: 30px;
  }
}

@media (min-width: 767px) and (min-width: 1199px) {
  .bestseller__content {
    margin: 0 98px 0 86px;
  }
}

.slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.slider__slide {
  position: relative;
  margin: 0;
  margin-right: 30px;
  width: 220px;
}

.slide__info {
  position: absolute;
  bottom: 10%;
  right: 25%;
  margin: 0 auto;
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide__title {
  font-family: "raleway";
  font-size: 16px;
  line-height: 145%;
  text-align: center;
  color: #122947;
}

.slide__text {
  font-family: "m-plus-1p";
  font-size: 13px;
  line-height: 145%;
  color: #9A9DA0;
  text-align: center;
}

.slide__link {
  font-size: 13px;
  line-height: 145%;
  border-bottom: 1px solid #000;
}

.bestseller__btn-more {
  display: block;
  width: 152px;
  margin: 0 auto;
}

@media (min-width: 767px) {
  .bestseller__btn-more {
    margin: 0;
  }
}

.bestseller__btn-desc {
  display: none;
}

@media (min-width: 767px) {
  .bestseller__btn-desc {
    display: block;
    width: 166px;
  }
}

.bestseller__btn-mobile {
  display: block;
}

@media (min-width: 767px) {
  .bestseller__btn-mobile {
    display: none;
  }
}

.new-collection {
  background-image: url("../images/springBanner_bg_mob.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 767px) {
  .new-collection {
    background-image: url("/images/springBanner_bg_tab.png");
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 1199px) {
  .new-collection {
    background-image: url("/images/springBanner_bg_desc.png");
  }
}

.new-collection__content {
  padding-top: 300px;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (min-width: 767px) {
  .new-collection__content {
    width: 290px;
    padding: 97px 0 97px 0;
    margin: 0;
    margin-right: 85px;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 767px) and (min-width: 1199px) {
  .new-collection__content {
    margin-right: 280px;
  }
}

.new-collection__btn {
  width: 132px;
}

@media (min-width: 767px) {
  .new-collection__btn {
    width: 141px;
  }
}

.care {
  padding: 93px 0 80px 0;
}

@media (min-width: 767px) {
  .care__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.care__content-wrap {
  padding: 60px 0 110px 0;
  background-color: #F4F1ED;
}

@media (min-width: 767px) {
  .care__content-wrap {
    padding: 60px 0 60px 60px;
    width: 100%;
  }
}

@media (min-width: 767px) and (min-width: 1199px) {
  .care__content-wrap {
    width: 50%;
  }
}

.care__text-tablet {
  display: none;
}

@media (min-width: 767px) {
  .care__text-tablet {
    display: block;
    margin-bottom: 20px;
  }
}

.care__content {
  text-align: center;
  width: 225px;
  margin: 0 auto;
}

@media (min-width: 767px) {
  .care__content {
    text-align: left;
    margin: 0;
    width: 340px;
  }
}

.care__btn {
  width: 184px;
  margin: 0 auto;
}

@media (min-width: 767px) {
  .care__btn {
    width: 202px;
    margin: 0;
  }
}

.care__img {
  margin: 0 auto;
  margin-top: -60px;
  width: 250px;
}

@media (min-width: 767px) {
  .care__img {
    margin: 0;
    margin-left: -250px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 1199px) {
  .care__img {
    margin-left: -50px;
  }
}

.history {
  background-image: url("../images/history_bg_mob.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 767px) {
  .history {
    background-image: url("../images/history_bg_tab.jpg");
    background-position: bottom;
  }
}

@media (min-width: 1199px) {
  .history {
    background-image: url("../images/history_bg_desc.jpg");
  }
}

.history__content {
  padding: 50px 0 60px 0;
  font-family: "raleway";
  font-size: 22px;
  text-align: center;
  line-height: 125%;
  width: 247px;
  margin: 0 auto;
}

@media (min-width: 767px) {
  .history__content {
    width: 100%;
    padding: 100px 58px 100px 58px;
    font-family: "raleway-500";
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
  }
}

@media (min-width: 767px) and (min-width: 1199px) {
  .history__content {
    width: 60%;
  }
}

.history__text {
  margin-bottom: 20px;
}

@media (min-width: 767px) {
  .history__text {
    margin-bottom: 50px;
  }
}

.history__btn {
  font-size: 14px;
  display: block;
  width: 156px;
  margin: 0 auto;
}

@media (min-width: 767px) {
  .history__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    width: 170px;
  }
}

@media (min-width: 767px) {
  .join__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    padding: 120px 45px;
  }
}

@media (min-width: 1199px) {
  .join__wrap {
    padding: 120px 98px;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
}

.join__content {
  margin: 0 auto;
  padding-top: 70px;
  width: 240px;
  text-align: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 767px) {
  .join__content {
    padding: 0;
    margin: 0;
    text-align: left;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.join__btn {
  margin: 0 auto;
  width: 146px;
  display: block;
  margin-bottom: 50px;
}

@media (min-width: 767px) {
  .join__btn {
    width: 170px;
    margin: 0;
  }
}

.join__gallery {
  width: 300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 80px;
}

@media (min-width: 767px) {
  .join__gallery {
    width: 355px;
    margin: 0;
    margin-right: 48px;
    padding: 0;
  }
}

@media (min-width: 1199px) {
  .join__gallery {
    width: 700px;
    margin-right: 70px;
  }
}

.join__gallery-img--desc {
  display: none;
}

@media (min-width: 1199px) {
  .join__gallery-img--desc {
    display: block;
  }
}

.join__gallery-img--mob {
  display: block;
  margin: 0;
  padding: 0;
}

.contacts__wrap {
  padding: 0 15px 120px 15px;
  margin: 0 auto;
}

@media (min-width: 767px) {
  .contacts__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
}

.contacts__content-wrap {
  padding: 50px 30px 60px 30px;
  background-color: #F4F1ED;
}

@media (min-width: 767px) {
  .contacts__content-wrap {
    padding: 60px;
    width: 100%;
    margin: 0 45px;
  }
}

@media (min-width: 1199px) {
  .contacts__content-wrap {
    width: 50%;
  }
}

.contacts__title {
  margin-bottom: 25px;
}

.contacts__bold-title {
  font-family: "m-plus-1p-500";
  font-weight: 500;
  margin-bottom: 10px;
}

.contacts__text {
  margin-bottom: 20px;
}

.contacts__link {
  display: block;
}

.contacts__map-wrap {
  width: 290px;
  height: auto;
  padding-bottom: 50px;
  margin: 0 auto;
}

@media (min-width: 767px) {
  .contacts__map-wrap {
    padding: 0;
    width: 470px;
    margin-left: -350px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 767px) and (min-width: 1199px) {
  .contacts__map-wrap {
    width: 500px;
    margin: 0;
    margin-left: -50px;
  }
}

.footer {
  background-color: #F4F1ED;
}

.footer__nav {
  font-family: "m-plus-1p";
  font-size: 14px;
  line-height: 21px;
  padding: 50px 15px;
}

@media (min-width: 767px) {
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 50px 45px;
  }
}

@media (min-width: 1199px) {
  .footer__nav {
    padding: 50px 98px;
  }
}

.footer__logo-img {
  width: 85px;
  height: 14px;
  margin-bottom: 30px;
}

@media (min-width: 767px) {
  .footer__logo-img {
    width: 131px;
    height: 21px;
    margin-right: 50px;
    margin-bottom: 0px;
  }
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

@media (min-width: 767px) {
  .footer__nav-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-right: 50px;
    margin-bottom: 0px;
  }
}

.footer__nav-item {
  width: 90px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.footer__nav-item:last-child {
  margin-right: 0;
  margin-bottom: 0px;
}

@media (min-width: 767px) {
  .footer__nav-item {
    width: 100%;
    margin-right: 25px;
    margin-bottom: 0px;
  }
}

.footer__nav-item:last-child {
  margin-right: 0;
  margin-bottom: 0px;
}

.footer__copyright-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.footer__copyright {
  padding: 20px 15px;
  font-family: "m-plus-1p";
  font-size: 12px;
  line-height: 18px;
  color: #959595;
  border-top: 1px solid #D1D1D1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 767px) {
  .footer__copyright {
    padding: 22px 45px;
  }
}

@media (min-width: 1199px) {
  .footer__copyright {
    padding: 22px 98px;
  }
}

.footer__copyright-logo {
  width: 45px;
  margin-right: 5px;
}

.footer__copyright-icon {
  margin-right: 5px;
}

.footer__copyright-text {
  width: 156px;
}
/*# sourceMappingURL=style.css.map */